<h2>Your cart</h2>



<table class="table table-striped">
	 <thead>
	 	<tr>
	    	<th>
	   			#
			</th>
	    	<th>
	    		Name
	    	</th>
	     	<th>
	     		Price
	     	</th>
	      	<th>
	      		Amount
	      	</th>
	   	</tr>
	</thead>
	<tbody>
		<% total_price = 0 %>
		<% total = 0 %>
		<% total_am = 0 %>
		<% total_amount = 0 %>
		<% @items.each do |item| %>
			
		
		<tr>
	        <th scope="row">
	        	<%= item[0] %>
	        </th>
	        <td>
	        	<%= Product.find(item[0]).title %>
	            
	        </td>
	        <td>
	        	<%= Product.find(item[0]).price %>
	        </td>
	        <td>
	            <%= item[1] %>
	        </td>
        </tr>
        	<% total_am += item[1].to_i %> 
        	<% total_amount += item[1].to_i %>
        	<% total_price += Product.find(item[0]).price * total_amount %>
        	<% total_amount = 0 %>

        	<% total += total_price %>
        	<% total_price = 0 %>
        	
        <% end %>
        <tr>
	        <th scope="row">
	        	
	        </th>
	        <td>
	        	
	            
	        </td>
	        <td>
	        	Total: <%= total %>
	        </td>
	        <td>
	            Total amount: <%= total_am %>
	        </td>
        </tr>
    </tbody>
</table>

<form action="/place_order" method="POST">

  <input type="hidden" name="order[orders_input]" value="<%= @orders_input %>">

  <div class="form-group">
    <label>Name</label>
    <input name="order[name]" type="text" class="form-control"  placeholder="Name:">
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input name="order[phone]" type="text" class="form-control"  placeholder="Phone:">
  </div>

  <div class="form-group">
    <label>Address</label>
    <textarea name="order[address]" type="text" class="form-control"  placeholder="Address:"></textarea> 
  </div>

  <input type="submit" class="btn btn-success" value="Place this order">

</form>
	
